/Guacamole/.vscode
/371Project/.vs/371Project/v16/ipch/AutoPCH/fc53c056ce68329d/PRIMITIVE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/e2100f9a5c81a661/MAIN.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/d913eaaad5b33a65/ARTIFACTROOMSCENE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/b36acd3ff8af5f14/BLACKHOLEROOM.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/a2fbb92db2ba6e9b/TEXTURE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/9e2b57939d8d9683/MODEL.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/9a7cd50d81a9a126/GEOMETRY.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/9a44208efd259708/MAIN.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/8dd6d4cc5bf7dfeb/MODEL.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/6ed157b21b7d0f98/SOUNDROOMSCENE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/63caf294c7ad1f22/SCENE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/5e49dbd49a316fcb/PONGROOM.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/548ce2109479f72c/BLACKHOLEROOM.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/53beb56296c36fea/SCENE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/53a9c7c9f8593d1e/GEOMETRY.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/4e5421c32b92e200/SOUNDROOMSCENE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/49c8e00ec4765d43/TEXTURE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/497616ccb17417b9/STB_IMAGE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/3e0fdef8dafe6e82/ANIMATION.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/3ae293e19404af19/MAIN.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/30b9344ef2f96001/STB_IMAGE.ipch
/371Project/.vs/371Project/v16/ipch/AutoPCH/2f74907a64c6f805/PRIMITIVE.ipch
/371Project/.vs/371Project/v16/Browse.VC.opendb
/371Project/.vs/371Project/v16/Browse.VC.db
/371Project/.vs/371Project/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/guacamole/v16/ipch/AutoPCH/4a17444067d7031/MAIN.ipch
/.vs/guacamole/v16/Browse.VC.db
/.vs/guacamole/v16/.suo
/.vs/CMake Overview
